/* .nav {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    align-items: center;

}

.navIcons {
    display: flex;
    align-items: center;
    padding-left: 950px;
    
    
} */
